@model List<IdentityRole>
@{
    ViewData["Title"] = "RoleList";
    Layout = "~/Views/UserLayout/Index.cshtml";
    int id = 1;
}


<div class="form-element-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="form-element-list">
                    <div class="basic-tb-hd">
                        <h2>Rol Listeleri</h2>
                    </div>
                    <br />
                    <a href="/Role/CreateRole" class="btn btn-success"> Rol Ekle</a>
                    <div class="row mt-5">

                        <table class="table table-bordered table-hover">
                            <tr>
                                <th>#</th>
                                <th>Rol Adı</th>
                                <th>Rol Sil</th>
                                <th>Rol Güncelle</th>
                            </tr>

                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@id</td>
                                    <td>@item.Name</td>
                                    <td><a href="/Role/DeleteRole/@item.Id" class="btn btn-danger">SİL</a></td>
                                    <td><a href="/Role/UpdateRole/@item.Id" class="btn btn-warning">GÜNCELLE</a></td>
                                </tr>

                                id++;
                            }
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

