@model List<Category>

<div class="inbox-status">
    <ul class="inbox-st-nav">
        @foreach (var item in Model)
        {
            <li><a href="/Message/GetMessageListByCategory/@item.CategoryID"><i class="@item.IconUrl"></i> @item.Name</a></li>

        }
    </ul>
</div>